<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <title>Modifier un post</title>
</head>

<body>
    <div id="app">
        <header>
            <a href="/" class="title-link">
                <div class="title-header">Post It</div>
            </a>
        </header>

        <div class="post-form">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" id="title" class="post-input" v-model="title" required>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea name="message" id="message" class="post-input" cols="30" rows="10"
                    v-model="message"></textarea>
            </div>
            <div class="form-group">
                <label for="author">Auteur</label>
                <input type="text" id="author" class="post-input" v-model="author" required>
            </div>
            <div class="form-group">
                <button class="btn-submit" @click="updatePost">Modifier</button>
                <button class="btn-delete" @click="deletePost">Supprimer</button>
            </div>
        </div>
    </div>

    <div class="post-alert hide" id="alert">
        <h1>Supprimer ?</h1>
        <div>
            <button class="btn-delete" @click="deletePost">Oui</button>
            <button class="btn-submit" @click="hideDelete">Non</button>
        </div>

    </div>

    <script src="../javascript/updatePost.js"></script>
</body>

</html>